body {
font-family: 'IBM Plex Serif', serif;
background-color:#000000;
}

#container {
margin: auto;
}

th {
font-size:42px;
border-bottom:solid green;
color:#ECC6BD;
padding-top:0.75%;
padding-bottom:0.75%;
}


td {
}

p {
margin:0;
padding:1% 0;
border:0;
}

th.left_cell {
border-right:solid red;
}

th.right_cell {
border-left: solid red;
}


td.episode {
width:40%;
font-size: 23px;
text-align:center;
padding: 0 5%;
font-weight: bold;
}

td.show { 
/*border: solid red;*/
width:20%;
border-right:solid red;
font-size: 24px;
font-weight: bold;
}

td.timestamptd {
width:20%;
border-left:solid red;
font-size: 23px;
font-weight: bold;
}


table, h1 {
text-align: center;
}

table {
position:absolute;
top:0;
bottom:0;
left:0;
right:0;
background: linear-gradient(to bottom right, brown, teal);
width:100%;
}

a {
margin: auto;
color: green;
padding: 1em 1.5em;
text-decoration: none;
text-transform: uppercase;
}


a:active {
/*  background-color: black;*/
}

a:hover {
/*  background-color: #555;*/
}
a:visited {
/*  background-color: #ccc;*/
}


