<!DOCTYPE html>
<html>  
<head>
  <title>Recent Updates</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
  <h1>Great Updates!</h1>
  <table>
  <thead>
    <tr>
      <th class="left_cell">Show</th>
      <th>Episode</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
{% for episode in episodes %}
    <tr>
      <td class="show_title"><strong>{{ episode[0] }}</strong></td>
      <td class="episode_title"><a download href="{{ episode[1] }}"><span class="episode">{{ episode[2] }}</span></a></td>
      <td class='timestamp'>{{ episode[3] }}</td>
    </tr>
{% endfor %}
  </tbody>
  </table>
  </div>
</body>
<script type="text/javascript" src="./static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./static/js/EA.js"></script>
</html>

