<!DOCTYPE html>
<html>  
<head>
  <title>Recent Updates</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
  <!-- <h1>Great Updates!</h1> -->
  <table>
  <thead>
    <tr>
      <th class="left_cell">Show</th>
      <th>Episode</th>
      <th class="right_cell">Age</th>
    </tr>
  </thead>
  <tbody>
{% for episode in episodes %}
    <tr style="background-color:#{{ episode.color }}">
      <td class="show left_cell"><strong>{{ episode.show_title }}</strong></td>
      <td class="episode"><a download href="{{ episode.url }}"><span class="episode">{{ episode.episode_title }}</span></a></td>
      <td class='timestamp right_cell'>{{ episode.timestamp }}</td>
    </tr>
{% endfor %}
  </tbody>
  </table>
  </div>
</body>
<script type="text/javascript" src="./static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="./static/js/EA.js"></script>
</html>

