<!DOCTYPE html>
<html>  
<head>
  <title>Recent Updates</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
  <h1>Great Updates!</h1>
  <table>
  <thead>
    <tr>
      <th class="left_cell">Show</th>
      <th>Episode</th>
      <th>Time Added</th>
    </tr>
  </thead>
  <tbody>
{% for episode in episodes %}
    <tr>
      <td class="left_cell"><strong>{{ episode[0] }}</strong></td>
      <td><a href="{{ episode[1] }}">{{ episode[2] }}</td>
      <td>{{ episode[3] }}</td>
    </tr>
{% endfor %}
  </tbody>
  </table>
  </div>
</body>
</html>

