<!DOCTYPE html>
<html>  
<head>
  <title>Recent Updates</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="container">
  <!-- <h1>Great Updates!</h1> -->
  <table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Title</th>
      <th>Age</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
{% for episode in episodes %}
    <tr style="background-color:#{{ episode.color }}">
      <td class="show left"><p>{{ episode.show_title }}</p></td>
      <td class="episode middle"><p><a download href="{{ episode.url }}">"{{ episode.episode_title }}"</a></p></td>
      <td class="timestamptd middle"><p><span class="timestamp">{{ episode.timestamp }}</span></p></td>
      <td class="duration right"><p>{{ episode.duration }}</p></td>
    </tr>
{% endfor %}
  </tbody>
  </table>
  </div>
</body>
<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/js/EA.js"></script>
</html>

